@import url('https://fonts.googleapis.com/css?family=Play:400,700&subset=vietnamese');

// font family
$fontWebsite : 'Play', sans-serif;

// font size
$fontBasic : 14px;
$fontFit: 15px;
$fontTitle : 16px;
$fontBig : 17px;
$fontGreat : 40px;
